@import "../utils/variables.scss";

.btn{
  padding: 14px 0;
  font-size: $f-size;
  line-height: $l-height;
  text-align: center;
  font-weight: bold;
  text-transform: uppercase;
  color: $color-main;
  background-color: #fff;
  border: 2px solid $color-main;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;
  &:hover{
    transition: all 0.4s;
    background-color: #444444;
    color: #fff;
  }
  &:active{
    transition: all 0.3s;
    color: #7c7c7c;
  }
}
