@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.features{
  padding: 39px 30px 22px;
  @media (min-width: 768px){
    padding: 71px 50px 0 48px;
  }
  @media (min-width: 1150px){
    padding-left: 225px;
    padding-right: 225px;
  }
}
.features__item-title{
  font-size: 25px;
  margin-bottom: 86px;
  @media (min-width: 768px){
    margin-bottom: 103px;
    font-size: 43px;
    line-height: 50px;
  }
  @media (min-width: 1150px) {
    margin-bottom: 103px;
    font-size: 53px;
    line-height: 57px;
  }
}
.features__list{
  @media (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
.features__item{
  position: relative;
  margin-bottom: 83px;
  @media (min-width: 768px){
    width: 50%;
    margin-bottom: 111px;
  }
}
.features__item-pic{
  position: absolute;
  top: -54px;
  left: 8px;
  @media (min-width: 768px){
    left: 11px;
  }
}
.features__item-desc{
  font-size: $f-size;
  line-height: $l-height;
  font-weight: bold;
  @media (min-width: 768px){
    font-size: 20px;
    line-height: 22px;
  }
}
.features__item--ecology{
  @media (min-width: 768px){
    order: 1;
  }
}
.features__item--style{
  @media (min-width: 768px){
    order: 3;
  }
}
.features__item-pic--style{
  left: 0;
  @media (min-width: 768px){
    left: 3px;
  }
}
.features__item--likes{
  @media (min-width: 768px){
    order: 5;
  }
}
.features__item-pic--likes{
  top: -49px;
  left: 8px;
  @media (min-width: 768px){
    left: 11px;
  }
}
.features__item--handmade{
  @media (min-width: 768px){
    order: 2;
  }
}
.features__item-pic--handmade{
  left: 4px;
  top: -51px;
}
.features__item--native{
  @media (min-width: 768px){
    order: 4;
  }
}
.features__item-pic--native{
  top: -50px;
  left: -5px;
}
.features__item--giftwrap{
  @media (min-width: 768px){
    order: 6;
  }
}
.features__item-pic--giftwrap{
  top: -52px;
  left: 3px;
  @media (min-width: 768px){
    left: 5px;
  }
}
