@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.main-nav {
  position: relative;
  @include flex-column;
  padding: 20px 0 0;
  @media (min-width: 768px){
    flex-direction: row;
    flex-wrap: wrap;
    min-height: 87px;
    padding: 0 50px;
  }
  @media (min-width: 1150px){
    position: relative;
    align-items: flex-start;
  }
}
.main-nav__toggle{
  position: absolute;
  top: 31px;
  right: 30px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  @media (min-width: 768px){
    display: none;
  }
}
@media (max-width: 766px) {
  .main-nav__toggle--close{
    width: 21px;
    height: 21px;
    background-image: url("../img/icon-menu-close.svg");
  }
  .main-nav__toggle--open{
    width: 22px;
    height: 14px;
    background-image: url("../img/icon-menu-open.svg");
  }
}
.main-nav__items{
  @include flex-column;
  width: 100%;
  background-color: #fff;
  @media (min-width: 768px){
    display: inline-flex;
    flex-direction: row;
    margin-left: auto;
    background-color: transparent;
    order: 2;
    z-index: 100;
  }
  @media (min-width: 1150px){
    flex-wrap: wrap;
    width: 40%;
    order: 1;
    margin-left: 0;
  }
}
@media (max-width: 767px){
  .main-nav__items--no-js{
  display: block;
  position: absolute;
  top: 78px;
  z-index: 10000;
  }
}
.main-nav__items--closed{
  display: none;
  @media (min-width: 768px){
    display: flex;
  }
}
.main-nav__item{
  font-size: $f-size;
  line-height: 24px;
  padding: 26px 0 28px 0;
  font-weight: bold;
  border-top: 1px solid $border-color;
  @media (max-width: 767px) {
    width: 100%;
    // text-align: center;
  }
  @media (min-width: 768px){
    padding: 20px 0 34px 0;
    border: 0;
  }
  @media (min-width: 1150px){
    padding-top: 19px;
    padding-bottom: 33px;
  }
}
.main-nav__item-link,
.page-header__search-link,
.page-header__cart-link{
  &:hover{
    color: #666666;
    fill: red;
  }
  &:active{
    color: #b2b2b2;
  }
}
.main-nav__item-link{
  padding: 26px 85px 26px 75px;
  font-size: $f-size;
  @media (min-width: 768px){
    padding: 10px 44px 10px 0px;
    font-size: inherit;
  }
  @media (min-width: 1150px){
    padding: 21px 0;
  }
}
.main-nav__item--new{
  @media (min-width: 1150px){
    padding-right: 69px;
  }
}
.main-nav__item--new,
.main-nav__item--sale{
  display: none;
  @media (min-width: 768px){
    display: none;
  }
  @media (min-width: 1150px){
    display: block;
    font-size: inherit;
  }
}
.main-nav__item--catalog{
  @media (min-width: 1150px){
    padding-right: 24px;
    border-right: 1px solid #ececec;
  }
}
.main-nav__item--knitting{
  @media (min-width: 1150px){
    padding-left: 33px;
  }
}
.main-nav__item--catalog,
.main-nav__item--knitting,
.main-nav__item--delevery{
  display: inline-block;
  font-size: 15px;
  @media (min-width: 768px){
    padding-top: 17px;
  }
  @media (min-width: 1150px){
    width: 42%;
    padding-top: 30px;
    padding-right: 8px;
    font-size: $f-size;
  }
}
.main-nav__item--delevery{
  display: none;
  @media (min-width: 768px){
    display: block;
    margin-left: auto;
    padding-right: 8px;
    font-size: inherit;
    font-weight: normal;
    line-height: 24px;
    color: $color-main;
  }
  @media (min-width: 1150px){
    display: block;
    position: absolute;
    top: 75px;
    right: 10px;
    width: 23%;
    font-size: 15px;
    font-weight: normal;
    line-height: 24px;
    color: $color-main;
  }
}
