
.page-modal{
  display: none;
  width: 100%;
  border-top: 1px solid $border-color;
}
.page-modal__add-cart{
  @include flex-column;
  padding-top: 36px;
  padding-bottom: 46px;
}
.page-modal__title{
  margin-bottom: 10px;
  padding: 0 90px;
  text-align: center;
  font-size: 25px;
}
.page-modal__text{
  margin-bottom: 13px;
  text-align: center;
  color: $color-main;
}
.page-modal__add-size{
  display: flex;
  justify-content: space-between;
  margin-bottom: 31px;
}
.page-modal__size{
  min-width: 82px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: $f-size;
  line-height: 16px;
  font-weight: bold;
  text-align: center;
  color: $color-main;
  background-color: transparent;
  border: 2px solid $border-color;
  &--active{
    border: 2px solid #63d1bb;
  }
}
.page-modal__add-btn{
  padding: 20px 0;
  font-size: $f-size;
  font-weight: bold;
  line-height: 16px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #63d1bb;
  border: 0;
}
