.order-form__item{
  padding: 0 30px;
  border: 0;
  @media (min-width: 768px) {
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (min-width: 1150px){
    padding-left: 110px;
    padding-right: 0;
  }
}
.order-form--color{
  @media (min-width: 768px){
    padding-bottom: 15px;
    background-color: #f1f1f1;
  }
}
.order-form__item--userdata-email{
  @media (min-width: 768px){
    padding-top: 0;
    padding-bottom: 35px;
  }
}
.order-form__title {
  position: relative;
  margin-top: 24px;
  margin-bottom: 35px;
  font-size: $f-size;
  line-height: 16px;
  text-transform: uppercase;
  color: #63d1bb;
  &::after {
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 198px;
    height: 1px;
    background-color: #63d1bb;
  }
  &--color{
    margin-top: 21px;
    margin-bottom: 36px;
  }
  @media (min-width: 768px){
    margin-top: 0;
    &::after{
      content: none;
    }
  }
}
.order-form__wrapper{
  @include flex-column;
  position: relative;
  &--phone,
  &--email{
    &::before{
      content: '';
      position: absolute;
      bottom: 32px;
      right: 8px;
      opacity: 0.2;
    }
  }
  &--phone{
    &::before{
      width: 25px;
      height: 24px;
      background-image: url('../../img/icon-phone.svg');
      @media (min-width: 768px) {
        bottom: 19px;
        right: 26px;
      }
      @media (min-width: 1150px){
        right: 8px;
      }
    }
  }
  &--email{
    &::before{
      bottom: 30px;
      right: 4px;
      width: 32px;
      height: 26px;
      background-image: url('../../img/icon-mail.svg');
      @media (min-width: 768px) {
        bottom: 16px;
        right: 22px;
      }
      @media (min-width: 1150px){
        right: 4px;
      }
    }
  }
  @media (min-width: 768px) {
    flex-direction: row;
    align-items: baseline;
  }
}
.order-form__titles{
  @media (min-width: 768px) {
    margin-top: 24px;
    margin-right: 122px;
  }
  @media (min-width: 1150px){
    margin-right: 69px;
  }
}
.order-form__label{
  display: block;
  position: relative;
  padding-left: 63px;
  font-size: $f-size;
  line-height: 18px;
  font-weight: bold;
  @media (min-width: 768px){
    font-size: 19px;
    padding-bottom: 60px;
    padding-left: 79px;
  }
}
.order-form__radio{
  margin-bottom: 23px;
  @media (min-width: 768px){
    padding-left: 91px;
    margin-bottom: 0;
  }
}
.order-form__checkbox{
  margin-bottom: 43px;
  @media (min-width: 768px){
    min-width: 177px;
    padding-bottom: 15px;
  }
}
.order-form__input{
  display: none;
}
.order-form__radio::before,
.order-form__checkbox::before{
  content: '';
  display: block;
  position: absolute;
  top: -9px;
  left: 0;
  width: 35px;
  height: 35px;
  background-color: transparent;
  border: 2px solid $color-main;
  @media (min-width: 768px){
    top: -17.5px;
    width: 47px;
    height: 48px;
  }
}
.order-form__radio::before{
  border-radius: 50%;
  @media (min-width: 768px){
    left: 11px;
  }
}
.order-form__checkbox::before{
  top: -11px;
  width: 36px;
  @media (min-width: 768px){
    top: -15px;
    width: 49px;
  }
}
.order-form__radio::after{
  content: '';
  display: none;
  position: absolute;
  left: 12px;
  top: 2px;
  width: 16px;
  height: 16px;
  background-color: #62d1ba;
  border-radius: 50%;
  @media (min-width: 768px){
    top: -1.5px;
    left: 26.5px;
    width: 21px;
    height: 21px;
  }
}
.order-form__checkbox::after{
  content: '';
  display: none;
  position: absolute;
  left: 5px;
  top: -5px;
  width: 29px;
  height: 23px;
  background-image: url('../../img/icon-tick.svg');
  @media (min-width: 768px){
    left: 10px;
    top: 0px;
    width: 32px;
  }
}
input[type="radio"]:checked + label::after,
input[type="checkbox"]:checked + label::after{
  display: block;
}
.order-form__parameter{
  @media (min-width: 768px){
    @include flex-column;
    flex-wrap: wrap;
    width: 75%;
    justify-content: space-between;
    &--color{
      flex-direction: row;
    }
  }
}
.order-form__parameter--color{
  @media (min-width: 768px){
    width: 68%;
  }
}
.order-form__filter{
  @media (min-width: 768px){
    width: 50%;
  }
  @media (min-width: 1150px){
    width: 33%;
  }
}
.order-form__item--user,
.order-form__item--userdata{
  border: 0;
  label {
    margin-bottom: 7px;
    font-size: $f-size;
    font-weight: bold;
    line-height: 18px;
    @media (min-width: 768px){
      font-size: 19px;
    }
  }
}
.order-form__item--user{
  @media (min-width: 768px){
    margin-top: 39px;
    margin-bottom: 18px;
    padding-top: 0;
  }
}
.order-form__item--userdata{
  @media (min-width: 768px){
    &--phone{
      padding-top: 40px;
    }
  }
}
.order-form__item--userdata-phone,
.order-form__item--userdata-email,
.order-form__item--uderdata-add{
  @media (min-width: 1150px){
    padding-right: 225px;
  }
}
.order-form__title{
  &--name {
    margin-top: -1px;
    margin-bottom: 22px;
  }
}
.order-form__title--name{
  margin-top: -1px;
  margin-bottom: 22px;
  @media (min-width: 768px){
    margin-right: 5px;
  }
  @media (min-width: 1150px){
    margin-right: 8px;
  }
}
.order-form__title--phone{
  margin-top: 16px;
  margin-bottom: 12px;
}
.order-form__title--email{
  margin-top: 17px;
}
.order-form__text{
  width: 260px;
  height: 33px;
  margin-bottom: 15px;
  padding-top: 2px;
  padding-bottom: 10px;
  font-size: $f-size;
  line-height: 18px;
  border: 0;
  outline: none;
  border-bottom: 2px solid $color-main;
  @media (min-width: 768px){
    width: 82%;
    margin-left: 26px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-bottom: 12px;
    font-size: 19px;
  }
  @media (min-width: 1050px){
    width: 78.3%;
    margin-left: 24px;
  }
}
.order-form__text--surname,
.order-form__text--patronymic{
  @media (min-width: 768px){
    width: 71.5%;
    margin-top: -3px;
    padding-left: 19px;
  }
  @media (min-width: 1050px){
    width: 70.8%;
    margin-left: 28px;
    padding-left: 21px;
  }
}
.order-form__text--patronymic{
  @media (min-width: 768px){
    width: 71.3%;
    margin-top: -6px;
    padding-left: 17px;
  }
  @media (min-width: 1050px){
    margin-left: 27px;
  }
}
.order-form__title--user{
  margin-bottom: 12px;
  @media (min-width: 768px){
    margin-right: 85px;
  }
  @media (min-width: 1050px){
    margin-right: 33px;
  }
}
.order-form__text--phone{
  @media (min-width: 768px){
    margin-left: 48px;
  }
}
.order-form__title--email{
  @media (min-width: 768px){
    padding-top: 5px;
    margin-right: 83px;
  }
  @media (min-width: 1050px){
    margin-right: 33px;
  }
  &::after{
    width: 179px;
  }
}
.order-form__text--phone,
.order-form__text--email{
  @media (min-width: 768px){
    width: 75%;
    background-color: #f1f1f1;
  }
  @media (min-width: 1050px){
    width: 84%;
  }
}
.order-form__text--email{
  @media (min-width: 768px){
    width: 72.5%;
  }
  @media (min-width: 1050px){
    width: 84%;
  }
}
.order-form__title--add{
  margin-top: 17px;
}
.order-form__add-text{
  margin-top: 13px;
  margin-bottom: 16px;
  padding: 15px;
  font-size: $f-size;
  line-height: 18px;
  resize: none;
  border: 2px solid $color-main;
  outline: none;
  @media (min-width: 768px){
    width: 75%;
    margin-top: -6px;
    margin-left: 45px;
    font-size: 19px;
  }
  @media (min-width: 1150px){
    width: 82%;
  }
}
::-webkit-input-placeholder {color: #c7c7c7;}
::-moz-placeholder {color: #c7c7c7;}
:-ms-input-placeholder {color: #c7c7c7;}

.order-form__order{
  @include flex-column;
  padding: 0 30px 55px;
  @media (min-width: 768px){
    flex-direction: row;
    justify-content: space-between;
    padding: 38px 50px 50px;
  }
  @media (min-width: 1150px){
    padding: 35px 224px 49px 225px;
  }
}
.order-form__item-note{
  margin-bottom: 31px;
  font-size: 14px;
  line-height: 16px;
  color: $color-main;
  @media (min-width: 768px){
    align-self: center;
    margin-bottom: 4px;
    font-size: $f-size;
    line-height: inherit;
  }
}
.order-form__btn{
  @media (min-width: 768px){
    width: 34.5%;
    order: -1;
  }
  @media (min-width: 1150px){
    width: 33%;
  }
}
