.page-main__header{
  background-color: $bg-gray;
  @media (min-width: 768px){
    position: relative;
    margin-top: -75px;
    padding-top: 45px;
    padding-bottom: 19px;
    border-top: 1px solid $border-color;
    &:after{
      content: '';
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 20px;
      background-image: url("../img/bg-zigzag-fill.svg");
      background-size: auto 20px;
      background-repeat: repeat-x;
    }
  }
  @media (min-width: 1150px){
    padding-top: 43px;
    padding-bottom: 41px;
  }
}
.page-main__title{
  padding: 71px 0 76px;
  font-size: 27px;
  text-align: center;
  @media (min-width: 768px){
    padding: 49px 0 60px;
    font-size: 43px;
    line-height: 50px;
  }
  @media (min-width: 1150px){
    font-size: 53px;
    line-height: 57px;
  }
}
.page-main__titles{
  padding: 22px 50px 0 30px;
  @media (min-width: 768px){
    padding-right: 100px;
    padding-left: 50px;
    margin-top: 51px;
  }
  @media (min-width: 1150px){
    padding: 73px 247px 0 226px;
  }
}
.page-main__desc{
  font-size: 13px;
  line-height: 24px;
  color: $color-main;
  @media (min-width: 768px){
    font-size: $f-size;
    line-height: inherit;
  }
}
