.page-footer{
  background-color: $bg-gray;
}
.page-footer__social{
  padding: 0 30px;
}
.page-footer__copyright{
  padding: 23px 30px 30px 30px;
}
.page-footer__copyright-link{
  padding-left: 39px;
  padding-right: 23px;
  font-size: 19px;
  line-height: 18px;
  font-weight: bold;
}
.page-footer__copyright-item{
  vertical-align: baseline;
}
