@import "../utils/variables.scss";
@import "../utils/mixins.scss";
.products{
  position: relative;
  &::after{
    content: '';
    position: absolute;
    bottom: -37px;
    width: 100%;
    height: 30px;
    background-image: url("../img/bg-zigzag-line.svg");
    background-size: auto 7px;
    background-repeat: repeat-x;
    @media (min-width: 768px){
      background-size: auto 15px;
    }
    @media (min-width: 1150px){
      bottom: -16px;
      height: 24px;
      background-size: auto 23px;
    }
  }
}
.products__item{
  padding: $padding-main;
  @media (min-width: 768px){
    position: relative;
    padding: 47px 48px;
  }
  @media (min-width: 1150px){
    padding: 33px 66px;
  }
}
.products__desc{
  @media (min-width: 768px){
    width: 43.5%;
  }
  @media (min-width: 1150px){
    width: 29%;
    margin-left: 158px;
    margin-bottom: 51px;
  }
}
.products__item-titles{
  @media (min-width: 768px){
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 49px;
  }
  @media (min-width: 1150px){
    flex-direction: row-reverse;
    justify-content: flex-end;
    margin-top: 92px;
    margin-left: 17px;
    margin-bottom: 48px;
  }
}
.products__item-title{
  font-size: 25px;
  @media (min-width: 768px){
    font-size: 43px;
    line-height: 50px;
  }
  @media (min-width: 1150px){
    font-size: 53px;
    line-height: 57px;
    z-index: 10;
  }
}
.products__item-subtitle{
  font-size: $f-size;
  line-height: $l-height;
  text-transform: uppercase;
  color: #63d1bb;
  @media (min-width: 768px){
    flex-basis: 80px;
    align-self: center;
    margin-right: 18px;
    padding-top: 5px;
    line-height: 17px;
  }
  @media (min-width: 1150px){
    margin-right: 46px;
    margin-left: 13px;
    padding-top: 7px;
  }
}
.products__item-desc{
  margin-top: 17px;
  margin-bottom: 17px;
  padding-right: 12px;
  line-height: 24px;
  color: $color-main;
  @media (min-width: 768px){
    flex-basis: 236px;
    margin-bottom: 35px;
    padding-right: 11px;
    font-size: $f-size;
    line-height: 30px;
  }
  @media (min-width: 1150px){
    width: 92%;
    margin-bottom: 49px;
    line-height: inherit;
  }
}
.products__item-format{
  width: 100%;
  margin-bottom: 27px;
  color: $color-main;
  border-collapse: collapse;
  @media (min-width: 768px){
    line-height: $l-height;
    margin-bottom: 55px;
  }
  @media (min-width: 1150px) {
    margin-bottom: 107px;
  }
}
.products__item-tr{
  line-height: $l-height;
  border-bottom: 1px solid $border-color;
}
.products__item-parameter,
.products__item-value{
  padding-bottom: 10px;
  padding-top: 10px;
  @media (min-width: 1150px){
    padding-bottom: 11px;
    padding-top: 9px;
  }
}
.products__item-parameter{
  padding-right: 15px;
  @media (min-width: 768px){
    padding-right: 4px;
  }
  @media (min-width: 1150px){
    padding-right: 2px;
  }
}
.products__item-pic{
  width: 260px;
  height: 315px;
  @media (min-width: 768px){
    position: absolute;
    top: 154px;
    right: 50px;
    width: 334px;
    height: 405px;
  }
  @media (min-width: 1150px){
    width: 525px;
    height: 637px;
    top: 73px;
    z-index: 5;
  }
}
.products__order{
  @include flex-column;
  margin-top: 15px;
}
.products__item-piece{
  font-size: $f-size;
  line-height: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 26px;
  @media (min-width: 768px){
    font-size: 20px;
    margin-bottom: 33px;
  }
  @media (min-width: 1150px){
    margin-bottom: 34px;
  }
}
