@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.promo-nav{
  @include flex-column;
  margin-top: -44px;
  background-color: #fbfbfb;
  @media (min-width: 768px){
    flex-direction: row;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 413px;
  }
}
.container_up{
  width: auto;
}
.promo-nav__item{
  position: relative;
  padding: 28px 30px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #63d1bb;
  &--interior{
    &::after{
    content: '';
    position: absolute;
    top: 23px;
    right: 36px;
    width: 40px;
    height: 62px;
    opacity: 0.2;
    background-image: url('../../img/icon-interior.svg');
    }
  }
  &--toys{
    &::after{
    content: '';
    position: absolute;
    top: 23px;
    right: 29px;
    width: 60px;
    height: 60px;
    opacity: 0.2;
    background-image: url('../../img/icon-toy.svg');
    }
  }
  @media (min-width: 768px){
    flex-grow: 1;
    font-size: 20px;
    line-height: inherit;
  }
}
.promo-nav__item--toys{
  background-color: #56c3b2;
}
