@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.promo-nav{
  @include flex-column;
  margin-top: -71px;
  background-color: #fafafa;
  @media (min-width: 768px){
    flex-direction: row;
    padding-left: 50px;
    padding-right: 59px;
    margin-top: 373px;
  }
  @media (min-width: 1150px){
    margin-top: 359px;
  }
}
.promo-nav__item{
  position: relative;
  padding: 25px 29px 29px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #fff;
  background-color: #63d1bb;
  &--interior{
    &::after{
    content: '';
    position: absolute;
    top: 23px;
    right: 37px;
    width: 40px;
    height: 62px;
    opacity: 0.2;
    background-image: url('../../img/icon-interior.svg');
    }
  }
  &--toys{
    background-color: #56c3b2;
    &::after{
    content: '';
    position: absolute;
    top: 22px;
    right: 27px;
    width: 60px;
    height: 60px;
    opacity: 0.2;
    background-image: url('../../img/icon-toy.svg');
    }
  }
  @media (min-width: 768px){
    padding-top: 28px;
    padding-right: 194px;
    padding-left: 35px;
    font-size: 20px;
    line-height: inherit;
    &--toys{
      padding-right: 216px;
      padding-left: 36px;
      background-color: #56c3b2;
      &::after{
          top: 32px;
          right: 34px;
      }
    }
    &--interior{
      &::after{
          top: 30px;
          right: 35px;
      }
    }
  }
  @media (min-width: 1150px){
    padding-right: 383px;
    padding-left: 38px;
    &--toys{
      padding-right: 404px;
      padding-left: 37px;
    }
  }
}
