.production-process{
  padding: 0 30px;
  @media (min-width: 768px) {
    padding: 0 50px;
  }
}
.production-process__item{
  position: relative;
  margin-bottom: 58px;
  border: 1px solid #ededed;
  @media (min-width: 768px){
    display: flex;
    flex-direction: column;
    margin-bottom: 63px;
    border-top: 0;
  }
  @media (min-width: 1150px){
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 105px;
    border-top: 1px solid #ededed;
    &:hover{
      box-shadow: 0 7px 14px rgba(0, 0, 0, 0.2);
    }
    &:active{
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
    }
  }
}
.production-process__desc{
  @include flex-column;
  padding: 28px 28px 32px 33px;
  @media (min-width: 768px){
    position: relative;
    padding: 28px 28px 32px 33px;
  }
  @media (min-width: 1150px){
    width: 25%;
  }
}
.production-process__desc-pic{
  position: absolute;
  top: 30px;
  left: 33px;
  @media (min-width: 768px){
    top: 34px;
    left: 41px;
  }
  @media (min-width: 1150px){
    top: 41px;
    left: 36px;
  }
}
.production-process__title{
  position: absolute;
  top: 24px;
  left: 89px;
  font-size: $f-size;
  line-height: 24px;
  @media (min-width: 768px){
    position: initial;
    padding-top: 11px;
    padding-left: 72px;
    padding-right: 68px;
    font-size: 20px;
  }
  @media (min-width: 1150px){
    padding-top: 68px;
    padding-left: 1px;
  }
}
.production-process__player{
  padding-top: 95px;
  svg{
    position: absolute;
    top: 27%;
    left: 30%;
    min-width: 101px;
    min-height: 77px;
    cursor: pointer;
    transgorm: scale(1);
    transition: all 0.4s;
    &:hover{
      transition: all 0.4s;
      transform: scale(1.2);
    }
    &:active{
      transform: scale(0.8);

    }
  }
  @media (min-width: 768px){
    padding-top: 0;
    order: -1;
    svg{
      top: 26.5%;
      left: 42.5%;
    }
  }
  @media (min-width: 1150px){
    width: 65%;
    svg{
      top: 41.5%;
      left: 28.5%;
    }
  }
}
.production-process__player-pic{
  width: 258px;
  min-height: 150px;
  vertical-align: bottom;
  @media (min-width: 768px){
    width: 100%;
    min-height: 454px;
    border-bottom: 1px solid #ededed;
  }
  @media (min-width: 1150px){
    min-height: 454px;
    border-bottom: 0;
  }
}
.production-process__text{
  padding: 0 24px 25px 0;
  font-size: 13px;
  line-height: 24px;
  color: $color-main;
  @media (min-width: 768px){
    font-size: inherit;
    line-height: 30px;
    margin-top: 32px;
    margin-right: 15px;
    margin-left: 7px;
    margin-bottom: 10px;
  }
  @media (min-width: 1150px){
    margin-left: 0;
    margin-bottom: 21px;
  }
}
.production-process__order-btn{
  @include flex-column;
  width: 98%;
  @media (min-width: 768px){
    width: 96.5%;
    padding: 0 42px 13px 8px;
  }
  @media (min-width: 1150px){
    width: 88%;
    padding-left: 3px;
  }
}
