@import "../utils/variables.scss";
@import "../utils/mixins.scss";

.promo-nav{
  @include flex-column;
  margin-top: -71px;
  background-color: #fafafa;
  @media (min-width: 768px){
    flex-direction: row;
    padding-left: 50px;
    padding-right: 59px;
    margin-top: 373px;
  }
  @media (min-width: 1150px){
    margin-top: 359px;
  }
}
.promo-nav__item{
  position: relative;
  padding: 25px 29px 29px;
  font-size: 19px;
  line-height: 24px;
  font-weight: bold;
  color: #ffffff;
  background-color: #63d1bb;
  transition: all 0.3s;
  &:hover{
    background-color: #59d5bc;
    transition: all 0.3s;
    svg{
      opacity: 0.3;
    }
  }
  &:active{
    color: #8be2d0;
    svg{
      opacity: 0.1;
    }
  }
  &--toys{
    transition: all 0.3s;
    background-color: #56c3b2;
    &:hover{
      background-color: #46c1ae;
    }
  }
  @media (min-width: 768px){
    padding: 29px 196px 41px 35px;
    font-size: 20px;
    line-height: inherit;
    &:hover{
      transform: translateY(-5px);
    }
    &--toys{
      padding-right: 212px;
      padding-left: 36px;
      background-color: #56c3b2;
    }
  }
  @media (min-width: 1150px){
    padding-top: 28px;
    padding-right: 383px;
    padding-left: 38px;
    padding-bottom: 32px;
    &--toys{
      padding-right: 404px;
      padding-left: 37px;
    }
  }
}
.promo-nav__item-icon{
  position: absolute;
  opacity: 0.2;
  right: 36px;
  top: 24px;
  &--toys{
    right: 27px;
    top: 23px;
  }
  @media (min-width: 768px){
    right: 36px;
    top: 30px;
    &--toys{
      right: 34px;
      top: 32px;
    }
  }
}
