@import "../utils/variables.scss";
@import "../utils/mixins.scss";
.reviews-block{
  margin-top: -80px;
  @media (min-width: 768px){
    margin-top: -28px;
    background: #fff url(../../img/review@1x.jpg) 0 0 no-repeat;
  }
  @media (min-width: 1150px){
    margin-top: -21px;
    background: #fff url(../../img/review@1x.jpg) 50px 0 no-repeat;
  }
}
.reviews{
  padding: $padding-main;
  @media (min-width: 768px){
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 77px 50px 77px 47px;
  }
  @media (min-width: 1150px) {
    padding-top: 70px;
    padding-left: 225px;
    margin-bottom: 109px;
  }
}
.reviews__title{
  font-size: 25px;
  @media (min-width: 768px){
    font-size: 43px;
    line-height: 50px;
    order: 1;
  }
  @media (min-width: 1150px){
    font-size: 53px;
    line-height: 57px;
  }
}
.reviews__item-text{
  padding-top: 24px;
  padding-right: 5px;
  margin-bottom: 24px;
  color: $color-main;
  @media (min-width: 768px){
    order: 3;
    width: 100%;
    font-size: $f-size;
    padding-right: 25px;
    margin-bottom: 55px;
    padding-top: 27px;
  }
  @media (min-width: 1150px){
    padding-right: 144px;
    margin-bottom: 36px;
  }
}
.reviews__item-user{
  @media (min-width: 768px){
    width: 334px;
    order: 4;
  }
  @media (min-width: 1150px){
    padding-bottom: 70px;
  }
}
.reviews__item-username{
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
  @media (min-width: 768px){
    font-size: $f-size;
  }
}
.reviews__item-link{
  font-size: $f-size;
}
.reviews__control{
  display: flex;
  margin-top: 30px;
  margin-bottom: 39px;
  @media (min-width: 768px){
    order: 5;
    padding-top: 0;
  }
}
.reviews__btn{
  width: 130px;
  height: 50px;
  background-color: #fff;
  border: 1px solid $border-color;
}
.reviews__btn-prev{
  border-right: 0;
}
.reviews__writeus{
  @include flex-column;
  @media (min-width: 768px){
    width: 26%;
    order: 2;
    margin-bottom: 20px;
  }
  @media (min-width: 1150px){
    width: 20%;
    margin-bottom: 18px;
    margin-top: 9px;
  }
}
