.social-links{
  display: flex;
  justify-content: space-between;
  padding: 25px 62px 17px 57px;
  border-bottom: 1px solid #e5e5e5;
  @media (min-width: 768px){
    display: flex;
    width: 145px;
    padding: 0;
    margin-left: 130px;
    justify-content: space-between;
    border-bottom: 0;
  }
}
.social-link {
  align-self: center;
  @media (min-width: 768px){

  }
}
